/* ESTILOS GENERALES */
:root {
  --dark: #14142B;
  --dark-light: #4E4B66;
  --gray: #6E7191;
  --gray-medium: #A0A3BD;
  --gray-light: #EFF0F6;
  --smoke: #E2E2E2;
  --smoke-light: #EFEFEF;
  --white: #FCFCFC;
  --primary: #FFCE00;
  --primary-dark: #E6B800;
  --primary-light: #FAE27B;
  --danger: #EB0046;
  --danger-dark: #A20F1D;
  --danger-light: #F8D7DA;
  --info: #0d6efd;
  --info-dark: #041E49;
  --info-light: #C2E7FF;
  --warning: #FF9033;
  --warning-dark: #81124B;
  --warning-light: #FFD89C;
  --success: #36AE7C;
  --success-dark: #094B28;
  --success-light: #C1F8CF;
  --shadow: 0px 2px 12px rgba(43, 41, 34, 0.16);
  --shadow-hover: 0px 6px 12px rgba(43, 41, 34, 0.32); 
}

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--dark);
  font-family: 'Poppins', sans-serif;
  line-height: normal;
  font-weight: 400;
}

main {
  background-color: var(--white);
  /* min-height: 100vh; */
  padding-top: 3.5rem;
}

hr {
  background-color: var(--dark);
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

.body-bold {
  font-size: 1rem;
  font-weight: 700;
}

.body-semibold {
  font-size: 1rem;
  font-weight: 600;
}

.body-medium {
  font-size: 1rem;
  font-weight: 500;
}

.small-bold {
  font-size: .75rem;
  font-weight: 700;
}

.small-semibold {
  font-size: .75rem;
  font-weight: 600;
}

.small-regular {
  font-size: .75rem;
  font-weight: 400;
}

/* Margins */
.marginBottom-0-5 {
  margin-bottom: .5rem !important;
}

.marginBottom-1 {
  margin-bottom: 1rem !important;
}

.marginBottom-1-5 {
  margin-bottom: 1.5rem !important;
}

.marginBottom-2 {
  margin-bottom: 2rem !important;
}

.marginBottom-2-5 {
  margin-bottom: 2.5rem !important;
}

.marginBottom-3 {
  margin-bottom: 3rem !important;
}

.marginBottom-3-5 {
  margin-bottom: 3.5rem !important;
}

.marginBottom-4 {
  margin-bottom: 4rem !important;
}

.marginBottom-4-5 {
  margin-bottom: 4.5rem;
}

.marginTop-0-5 {
  margin-top: .5rem !important;
}

.marginTop-1 {
  margin-top: 1rem !important;
}

.marginTop-1-5 {
  margin-top: 1.5rem !important;
}

.marginTop-2 {
  margin-top: 2rem !important;
}

.marginTop-2-5 {
  margin-top: 2.5rem !important;
}

.marginTop-3 {
  margin-top: 3rem !important;
}

.marginTop-3-5 {
  margin-top: 3.5rem !important;
}

.marginTop-4 {
  margin-top: 4rem !important;
}

.marginTop-4-5 {
  margin-top: 4.5rem;
}

.marginRight-0-5 {
  margin-right: .5rem !important;
}

.marginRight-1 {
  margin-right: 1rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

/* End Margins */

/* Paddings */
.paddingTop-1 {
  padding-top: 1rem;
}

.paddingTop-2 {
  padding-top: 2rem;
}

.paddingTop-3 {
  padding-top: 3rem;
}
/* End Paddings */

/* Colors */
.primary-color {
  color: var(--primary);
}

.success-color {
  color: var(--success);
}

.danger-color {
  color: var(--danger);
}
/* End Colors */

/* Buttons */
.btn {
  display: inline-block;
  font-weight: 600;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  text-transform: uppercase;
  font-size: .875rem;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-large {
  padding: .75rem 3rem;
}

.button-block {
  display: block;
  width: 100%;
}

.button-primary {
  background-color: var(--primary);
  color: var(--dark);
}

.button-primary:hover {
  background-color: var(--primary-dark);
  color: var(--dark);
}

.button-primary:focus {
  background-color: var(--primary);
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-hero-primary {
  background-color: var(--primary);
  color: var(--dark);
  border: solid 2px var(--dark);
  /* box-shadow: 0 .2rem var(--dark); */
  padding: .75rem 1rem;
  font-size: 1.25rem;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.button-hero-primary:hover {
  background-color: var(--primary);
  color: var(--dark);
  box-shadow: 0 .2rem var(--dark);
  transform: scale3d(1.1, 1.1, 1.1);
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -moz-transform: scale3d(1.1, 1.1, 1.1);
  -ms-transform: scale3d(1.1, 1.1, 1.1);
  -o-transform: scale3d(1.1, 1.1, 1.1);
}

.button-hero-primary:focus {
  background-color: var(--primary);
  color: var(--dark);
  box-shadow: 0 .5rem var(--dark);
}

.button-hero-secondary {
   background-color: var(--white);
   color: var(--dark);
   border: solid 2px var(--dark);
   /* box-shadow: 0 .2rem var(--dark); */
   padding: .75rem 1rem;
   font-size: 1.25rem;
   transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
}

.button-hero-secondary:hover {
  background-color: var(--white);
  color: var(--dark);
  box-shadow: 0 .25rem var(--dark);
  transform: scale3d(1.1, 1.1, 1.1);
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -moz-transform: scale3d(1.1, 1.1, 1.1);
  -ms-transform: scale3d(1.1, 1.1, 1.1);
  -o-transform: scale3d(1.1, 1.1, 1.1);
}

.button-hero-secondary:focus {
  background-color: var(--white);
  color: var(--dark);
  box-shadow: 0 .5rem var(--dark);
}

.button-link {
  /* background-color: salmon; */
  color: var(--info);
  padding: 0.5rem  0;
  text-decoration: none;
}

.button-link:hover {
  color: var(--info);
  text-decoration: underline;
}

.button-link:focus {
  color: var(--info-dark);
  text-decoration: underline;
  box-shadow: none;
}

.button-outline {
  background-color: var(--white);
  background-color: none;
  color: var(--dark);
  border-color: 1px solid var(--dark);
}

.button-outline:hover {
  background-color: var(--gray-light);
  color: var(--dark);
}

.button-outline:focus {
  background-color: var(--white);
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-icon-left, .button-icon-right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button-icon-left span {
  margin-right: .5rem;
}

.button-icon-right span {
  margin-left: .5rem;
}

.button-ghost {
  background-color: none;
  color: var(--dark);
}

.button-ghost:hover {
  background-color: var(--smoke-light);
  color: var(--dark);
}

.button-ghost:focus {
  background-color: none;
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-rounded {
  background-color: none;
  color: var(--gray);
  border-color: 1px solid var(--gray-medium);
  border-radius: 4rem;
}

.button-rounded:hover {
  background-color: var(--gray-light);
  color: var(--gray);
}

.button-rounded:focus {
  background-color: none;
  color: var(--gray);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-icon {
  /* background-color: #36AE7C; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon span {
  /* background-color: #C2E7FF; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon-sm {
  /* background-color: salmon; */
  padding: .25rem;;
}

.button-circle {
  background-color: var(--primary);
  border-radius: 100%;
  min-height: 2.5rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  min-width: 2.5rem;
  font-size: 1rem;
}

.button-circle:hover {
  background-color: var(--dark);
  color: var(--white)
}

.button-circle:focus {
  background-color: var(--primary);
  color: var(--dark);
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

.button-disabled {
  background-color:var(--gray-medium);
  color: var(--dark);
  opacity: 1 !important;
}

/* End Buttons */

.show {
  display: block;
}

.hide {
  display: none;
}

/* FORMS */

.text-help {
  color: var(--danger);
  display: none;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  color: var(--dark-light);
  margin-bottom: .25rem;
}

.form-control, .form-select {
  color: var(--dark);
  background-color: var(--white);
  border: 1px solid var(--gray-medium);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.form-control:focus, .form-select:focus {
  color: var(--dark);
  background-color: var(--white);
  outline: 0;
  border-color: 1px solid var(--dark);
  box-shadow: 0 0 0 0.25rem rgba(20, 20, 43, 0.25);
}

/*OCULTAR CONTROLES INCREMENTO */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

/* FIN OCULTAR CONTROLES INCREMENTO */

/* END FORMS */

/* FIN OCULTAR CONTROLES INCREMENTO */

.hidden-caret .dropdown-toggle::after {
  display: none !important;
}

/* SWITCH BTN */
.switch-btn {
 font-size: 1rem;
}
/* END SWITCH BTN */


/* IMG */
.render-img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

/* END IMG */

/* MODALS */
.modal-content {
  border-radius: .5rem;
}

.modal-body {
  padding-top: 0;
}

.modal-footer {
  padding: 1rem ;
  border-top: none;
}

.modal-detalle-servicio {
  /* background-color: #36AE7C; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: flex-start; */
}

.detalle-servicio__img {
  /* display: block; */
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.modal-detalle-servicio__desc {
  /* text-align: center; */
}
/* END MODALS */

/* LIST */
.list-bee li {
  margin-bottom: .5rem;
}
/* END LIST */

/* FIN ESTILOS GENERALES */

/* NAVBAR */
header .container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-landingPage {
  padding-top: .5rem;
  padding-bottom: .5rem;
  box-shadow: 0px 4px 4px rgba(175, 177, 189, 0.25);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-brand img {
  height: 1.5rem;
}

.navbar-nav {
  /* background-color: #C1F8CF; */
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 1rem;
}

.navbar-nav .nav-item .nav-link {
  color: var(--dark) !important;
  transition: .1s  ease-in;
  padding: 0;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--info) !important;
}

.navbar-nav .nav-item .active {
  color: var(--info) !important;
  font-weight: 600;
}

.btn-group-navbar {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-menu-mobile {
  display: none;
  border: solid 1px var(--gray);
  height: 2.5rem;
}
/* END NAVBAR */

/* SECCIONES MOBILE */
.off-canvas-secciones h5 {
  color: var(--white);
}

.navbar-nav-mobile {
  /* background-color: pink; */
  list-style: none;
  padding-left: 0;
}

.navbar-nav-mobile .nav-link {
  color: var(--dark);
  font-weight: 600;
  font-size: 1.5rem;
}
/* END SECCIONES MOBILE */

/* HERO  */
.hero {
  /* background-color: pink; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg-img-hero {
  background-image: url(../img/bgBanner.jpg);
}

.wrap-content-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.hero-img {
  width: 100%;
  margin-top: 5rem;
}

.content-hero {
  /* background-color: salmon; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 2;
  color: var(--dark);
  padding: 1.5rem;
}

.content-hero h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.wrap-btns-hero {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/* END HERO/ */

/* SECTION ABOUT */
.section {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.section-about-content{
  /* background-color: #36AE7C; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: center;
}


.section-about__text {
  /* width: 48%; */
}
.section-about__image {
  /* background-color: blue; */
  /* width: 48%; */
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.section-about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: ease .3s;
  -webkit-transition: ease .3s;
  -moz-transition: ease .3s;
  -ms-transition: ease .3s;
  -o-transition: ease .3s;
}

.section-about__image img:hover {
  scale: 1.1;
}

.section-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1rem;
}
/* END SECTION ABOUT */

/* SECTION SERVICES */

.wrap-service-cards {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card-service {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 18rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: var(--shadow);
  transition: ease .3s;
  position: relative;
  padding-bottom: 3.5rem;
  -webkit-transition: ease .3s;
  -moz-transition: ease .3s;
  -ms-transition: ease .3s;
  -o-transition: ease .3s;
}

.card-service:hover {
  box-shadow: var(--shadow-hover);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.card-service__title {
  font-size: 1.25rem;
}

.card-service img {
  width: 4rem;
  height: 4rem;
}

.wrap-service-cta {
  /* background-color: lightblue; */
  width: 100%;
  position: absolute;
  bottom: 1rem;
}
/* END SECTION SERVICES */

/* OWL CAROUSEL */
.carousel-wrap {
  /* background-color: pink; */
  width: 90%;
  margin: auto;
  position: relative;
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0;
  margin: 0;
}

.owl-carousel .nav-btn {
  height: 100%;
  position: absolute;
  width: 3rem;
  cursor: pointer;
  top: 0 !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  background: url(../img/icons/arrow_back.svg) no-repeat scroll 50% 50%;
  left: -58px;
}

.owl-carousel .next-slide {
  background: url(../img/icons/arrow_forward.svg) no-repeat scroll 50% 50%;
  right: -58px;
}
/* END OWL CAROUSEL */

/* SECTION ALLIES */
.section-allies {
  /* background-color: lavender; */
}

.owl-carousel-brands .item {
  border-radius: 1rem;
  overflow: hidden;
  margin: .5rem;
  box-shadow: var(--shadow);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.wrap-allies-cta {
  text-align: center;
  margin-bottom: 3.5rem;
}
/* END SECTION ALLIES */

/* SECTION WHY */
.bg-section {
  background-color: var(--smoke-light);
}

.wrap-cards {
  /* background-color: salmon; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.card-kpi {
  background-color: var(--white);
  box-shadow: 0px 2px 12px rgba(43, 41, 34, 0.16);
  padding: 1.5rem;
  font-weight: 600;
  text-align: center;
  transition: .2s  ease-in;
  width: 18rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.card-kpi:hover {
  transform: scale(1.1);
}

.card-kpi__number {
  font-size: 3rem;
}

.card-kpi__text {
  font-size: 1.2rem;
}
/* END SECTION WHY */

/* SECTION BRANDS */
.wrap-brands {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2rem;
  justify-content: center;
}

.wrap-brands img {
  width: 6rem;
  height: 4rem;
  object-fit: contain;
}

figure {
  margin-bottom: 0;
}
/* END SECTION BRANDS */

/* SECTION CONTACT */

.sectionAndLogo {
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: .5rem;
}

.section-contact .section-header img {
  height: 2rem;
}

.section-contact {
  /* background-color: #E6B800; */
  position: relative;
}

.wrap-contact-img img {
  width: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0 4px 16px var(--primary-dark);
}

.content-contact {
  z-index: 2;
  position: relative;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  backdrop-filter: blur(2.5px);
  box-shadow: 0 4px 16px var(--primary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.section-header-contact {
  /* color: var(--white); */
}

.wrap-info-contact {
  /* background-color: #36AE7C; */
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-contact-list {
  /* background-color: pink; */
  list-style: none;
  padding-left: 0;
}

.info-contact-list li {
  /* background-color: #36AE7C; */
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-contact-list li:last-child {
  margin-bottom: 0;
}

.info-contact-list li span {
  margin-right: .5rem;
}

.form-contact {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  width: 35rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: var(--shadow);
  display: none;
}

.form-dni {
  display: none;
}

.bg-contact {
  background-color: var(--primary);
  background-image: url(../img/bgBanner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* END SECTION CONTACT */

/* FOOTER */
.main-footer {
  background-color: var(--dark);
  color: var(--white);
}

.footer-body {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.footer-bottom {
  padding: 1rem;
}

.footer-bottom img {
  display: block;
  margin-left: auto;
  /* margin-right: auto; */
}

.title-footer-list {
  color: var(--primary);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.footer-list {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.footer-list li {
  margin-bottom: 1.5rem;
}

.footer-list-item a {
  color: var(--white);
  text-decoration: none;
}

.footer-list-item a:hover {
  color: var(--white);
  text-decoration: underline;
}
/* END FOOTER */

/* PÁGINA NUESTROS SERVICIOS */

.section-services-plans {
  background-color: var(--white);
}

.table-plans-service {
  /* background-color: lavender; */
}

/* END PÁGINA NUESTROS SERVICIOS */

/* OFFCANVAS */
.offcanvas-header {
  /* background-color: #C1F8CF; */
  height: 3.5rem;
}
.offcanvas-header img {
  height: 1.25rem;
}
.offcanvas-body {
  /* background-color: pink; */
  height: calc(100vh - 3.5rem);
  overflow-y: auto;
}

.menu-offcanvas-mobile {
  list-style: none;
  padding-left: 0;
}

.menu-offcanvas-mobile li {
  margin-bottom: 1rem;
}

#btn-menu-mobile {
  display: none;
}
/* END OFFCANVAS */

/* SECTION CORPORATE SALES */

/* EN DSECTION CORPORATE SALES */
