/* Large devices (laptops, less than 1400px) */
@media (max-width: 1400px) {
  main {
    /* background-color: gray; */
  }
}

/* Large devices (desktops, tablets landscape, less than 1200px) */
@media (max-width: 1199.98px) {
  main {
    /* background-color: lavender; */
  }

    /* NAVBAR */
    .navbar-nav li {
      /* background-color: aquamarine; */
      text-align: center;
      margin-right: .5rem;
      font-size: .9rem;
    }
    /* END NAVBAR */
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  main {
    /* background-color: salmon; */
  }

  /* NAVBAR */
  .navbar-nav li {
    /* background-color: aquamarine; */
    text-align: center;
    margin-right: 0;
  }

  .navbar-nav li .btn {
    margin-top: 1rem;
  }
  /* END NAVBAR */

  /*SECTION ABOUT */
  .section {
    padding: 2rem .5rem;
  }
  /* END SECTION ABOUT */

  /* OWL CAROUSEL */
  .owl-carousel .nav-btn {
    display: none;
  }

  .carousel-wrap {
    /* background-color: blue; */
    width: 100%;
  }
  /* END OWL CAROUSEL */

  /* SECTION BRANDS */
  .wrap-brands img {
    height: 2rem;
  }
  /* END SECTION BRANDS */

  /* SECTION CONTACT */
  .info-contact-list {
    /* background-color: pink; */
    margin-bottom: 2rem;
  }
  /* END SECTION CONTACT */

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  main {
    /* background-color: lightblue; */
  }

  /* SECTION CONTACT */
  .sectionAndLogo {
    /* background-color: pink; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    grid-gap: .1rem;
  }

  .section-contact .section-header img {
    height: 1.8rem;
  }
  /* END SECTION CONTACT */

  /* FOOTER */
  .footer-list, .title-footer-list {
    text-align: center;
  }

  .footer-list {
    margin-bottom: 4rem;
  }

  .footer-bottom img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* END FOOTER */
}


@media (max-width: 575.98px) {
  main {
    /* background-color: lightyellow; */
  }

  /* Section hero */
  .content-hero h1 {
    font-size: 1.75rem;
  }
  /* End section hero */

  /* Section Contact */
  .info-contact-list li {
    /* background-color: aquamarine; */
    font-size: 1rem;
  }
  /* End section contact */
}
