/* Large devices (laptops, less than 1400px) */
@media (max-width: 1400px) {

  /* NAVBAR */
  .navbar-nav .nav-item .nav-link {
    font-size: .8125rem;
  }

  /* END NAVBAR */

  /* SERVICES */
  .card-service,
  .card-kpi {
    width: 16rem;
  }

  .card-kpi__number {
    font-size: 2.5rem;
  }

  .card-kpi__text {
    font-size: 1rem;
  }

  /* END SERVICES */
}

/* Large devices (desktops, tablets landscape, less than 1200px) */
@media (max-width: 1200px) {

  /* Section Contact */
  .info-contact-list li {
    /* background-color: aquamarine; */
    font-size: 1rem;
  }

  /* End section contact */

  /* Offcanvas */
  #btn-menu-mobile {
    display: block;
  }

  .navbar-nav {
    display: none;
  }

  /* End offcanvas */
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {

  /* NAVBAR */
  .navbar-nav li {
    /* background-color: aquamarine; */
    text-align: center;
    margin-right: 0;
  }

  .navbar-nav li .btn {
    margin-top: 1rem;
  }

  /* END NAVBAR */

  /*SECTION ABOUT */
  .section {
    padding: 4rem .5rem;
  }

  .section-about__text {
    text-align: center;
  }

  .list-bee {
    text-align: left;
  }

  /* END SECTION ABOUT */

  /* OWL CAROUSEL */
  .owl-carousel .nav-btn {
    display: none;
  }

  .carousel-wrap {
    /* background-color: blue; */
    width: 100%;
  }

  /* END OWL CAROUSEL */

  /* SECTION BRANDS */
  .wrap-brands img {
    height: 2rem;
  }

  /* END SECTION BRANDS */

  /* SECTION CONTACT */
  .wrap-info-contact {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  /* END SECTION CONTACT */

  /* HERO */
  .hero {
    height: 90%;
  }

  .wrap-content-hero {
    flex-direction: column;
    gap: 0;
  }

  .content-hero-img {
    /* background-color: pink; */
    display: flex;
    align-items: end;
    justify-content: center;

  }

  .hero-img {
    width: 50%;
    margin-top: 2rem;
  }

  .content-hero {
    margin-top: -5rem;
    padding-bottom: 3rem;
  }

  /* END HERO */

  /* CONTACT */
  .wrap-contact-img {
    margin-bottom: 1.5rem;
  }

  /* END CONTACT */
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

  /* SECTION ABOUT */
  .section-about-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: center;
  }

  /* END SECTION ABOUT */

  /* SECTION CONTACT */
  .sectionAndLogo {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: .1rem;
  }

  .section-contact .section-header img {
    height: 1.8rem;
  }

  /* END SECTION CONTACT */

  /* FOOTER */
  .footer-list,
  .title-footer-list {
    text-align: center;
  }

  .footer-list {
    margin-bottom: 4rem;
  }

  .footer-bottom img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* END FOOTER */
}


@media (max-width: 576px) {
  main {
    /* background-color: lightyellow; */
  }

  /* navbar */
  header .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-left {
    gap: .5rem;
  }

  #btn-menu-mobile {
    width: 2rem;
  }

  .navbar-brand img {
    height: 1rem;
  }

  /* End navbar */

  /* Section hero */
  .content-hero h1 {
    font-size: 1.75rem;
  }

  /* End section hero */

  /* Section Contact */
  .form-contact {
    /* background-color: lavender; */
    width: 100%;
  }

  .bee-list {
    padding-left: 1rem;
  }

  /* End section contact */

  /* Hero */
  .content-hero {
    padding: 0 .5rem 2.5rem .5rem;
    margin-top: -2rem;
  }

  .wrap-btns-hero {
    gap: 1.5rem;
    width: 100%;
  }

  .button-hero-primary, .button-hero-secondary {
    padding: .5rem 1rem;
    font-size: 1.25rem;
  }

  /* End hero */

}