/* Large devices (laptops, less than 1400px) */
@media (max-width: 1400px) {
  main {
    background-color: gray;
  }
}

/* Large devices (desktops, tablets landscape, less than 1200px) */
@media (max-width: 1199.98px) {
  main {
    background-color: lavender;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  main {
    background-color: salmon;
  }

  /* NAVBAR */
  .navbar-nav li {
    text-align: center;
    margin-right: 0;
  }

  .navbar-nav li button {
    margin-top: 1rem;
  }
  /* END NAVBAR */

  /* ABOUT */
  .section {
    padding: 2rem .5rem;
  }
  /* END ABOUT */

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  main {
    background-color: lightblue;
  }
}


@media (max-width: 575.98px) {
  main {
    background-color: lightyellow;
  }
}
